:root {
  --page-background: #1e293b;
  --box-background: #334155;
  --track-color: #475569;
}

body {
  background-color: var(--page-background);
  color: white;
}

h1, p.status {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

.container {
  display: grid;
  grid-template: repeat(3, 160px) / repeat(3, 160px);
  margin: auto;
  justify-items: start;
  gap: 10px;
  background-color: var(--track-color);
  width: 500px;
  margin-block: 20px;
}

.blur {
  filter: blur(5px);
}

.container > * {
  width: 160px;
  height: 160px;
  background-color: var(--box-background);
  display: grid;
  place-content: center;
  font-size: 8rem;
}